{% extends 'layout.html.twig' %}

{% block title %}Login to Gym Finger{% endblock %}

{% block content -%}
    {% trans_default_domain 'FOSUserBundle' %}
    {% if error %}
        <div class="alert alert-danger fade in">
            <button class="close" data-dismiss="alert" type="button">×</button>
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <div class="login-page">
                <h4 class="title">New Customers</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
                <div class="button1" style="margin-top: 14%;">
                    <a href="{{ path('fos_user_registration_register') }}"><input type="submit" name="Submit" value="Create an Account"></a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="login-page">
                <div class="login-title">
                    <h4 class="title">Registered Customers</h4>
                    <div id="loginbox" class="loginbox">
                        <form action="{{ path("fos_user_security_check") }}" method="post" name="login" id="login-form">
                            <fieldset class="input">
                                <p id="login-form-username">
                                    <label for="username">{{ 'security.login.username'|trans }}</label>
                                    <input id="username" required="required" type="text" name="_username" class="inputbox" size="18" value="{{ last_username }}">
                                </p>
                                <p id="login-form-password">
                                    <label for="password">{{ 'security.login.password'|trans }}</label>
                                    <input id="password" type="password" name="_password" required="required" class="inputbox" size="18">
                                </p>
                                <div class="checkbox video_player" style="margin: 0; padding: 0">
                                    <p>
                                        <label>
                                            <input id="remember_me" name="_remember_me" type="checkbox" style="left: 20px; top: 7px" checked> {{ 'security.login.remember_me'|trans }}
                                        </label>
                                    </p>
                                </div>
                                <div class="remember">
                                    <p id="login-form-remember">
                                        <label for="modlgn_remember"><a href="{{ path('fos_user_resetting_request') }}">Forgot your password? </a></label>
                                    </p>
                                    <input type="submit" name="Submit" class="button" value="{{ 'security.login.submit'|trans }}"><div class="clear"></div>
                                </div>
                            </fieldset>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}