<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/LocalBusiness" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Aumenta tu velocidad al teclado. Entrena en los gimnasios como jugando y gana fama, premios y tal vez trabajos." />
        <meta name="author" content="CollDev - http://www.colldev.com/" />
        <meta itemprop="name" content="Gym Finger">
        <meta itemprop="description" content="Aumenta tu velocidad al teclado. Entrena en los gimnasios como jugando y gana fama, premios y tal vez trabajos.">
        <meta itemprop="image" content="http://www.gymfinger.com{{ asset('images/logo.jpg') }}">
        <title>{% block title %}GymFinger{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets output='css/base.css' filter='cssrewrite' debug=false
            'css/lib/bootstrap.min.css' -%}
                <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
            {% endstylesheets %}
        {% endblock %}
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts output='js/base.js' debug=false
                'js/lib/jquery.min.js'
                'js/lib/bootstrap.min.js'
                'js/lib/jquery.mustache.js'
                'js/lib/socket.io.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
