{% extends 'base.html.twig' %}

{% block title %}Fitness for your fingers{% endblock %}

{% block stylesheets -%}
    {{ parent() }}
    {% stylesheets output='css/gympack.layout.css' filter='cssrewrite' debug=false
    'css/gympack/flexisel.css'
    'css/gympack/magnific-popup.css'
    'css/gympack/styles.css'  -%}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body -%}
        {% block header %}{% endblock %}
        {% include 'layout/header_bottom.html.twig' %}
        {% include 'layout/start_menu.html.twig' %}
        {% for type, flashMessage in app.session.flashbag.all() %}
        <div class="alert alert-{{ type }} fade in">
            <button class="close" data-dismiss="alert" type="button">×</button>
            {% if flashMessage.title is defined %}
            <strong>{{ flashMessage.title }}</strong>
            {{ flashMessage.message }}
            {% else %}
            {{ type }}
            {% endif %}
        </div>
        {% endfor %}
        <div id="flash_message" class="alert hidden">
            <strong id="flash_title"></strong>
        </div>
        <div class="main">
            {% block content_top %}{% endblock %}
            <div class="container">
                {% block available_rooms %}{% endblock %}
                {% block about %}{% endblock %}
                {% block content %}{% endblock %}
                {% block content_middle_bottom %}{% endblock %}
                {% block visual %}{% endblock %}
            </div>
            {% block map %}{% endblock %}
            {% block content_footer %}{% endblock %}
        </div>
        {% include 'layout/footer.html.twig' %}
        {% include 'layout/copyright.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output='js/gympack.scripts.js' debug=false
    'js/gympack/jquery.contentcarousel.js'
    'js/gympack/jquery.easing.min.js'
    'js/gympack/nav.js'
    'js/gympack/jquery.flexisel.js'
    'js/gympack/jquery.magnific-popup.min.js'
    'js/gympack/scripts.js' -%}
    <script src="{{ asset_url }}"></script>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    {% endjavascripts %}
{% endblock %}
