{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/Fager.css' filter='cssrewrite' debug=false
    'css/Fager/Fager.css' -%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
            <div class="col-sm-6 header-text">
                <div class="fager-main">
                    <h1>
                        <input id="name" type="text" placeholder="Enter your name to start">
                        <button id="join" type="button">Send</button>
                    </h1>
                    <div class="container-game">
                        <div class="container-words">
                            <div class="visible-words"></div>
                        </div>
                        <div class="input-row">
                            <div class="input-box">
                                <input type="text" id="input-words" />
                                <div class="timer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 header-text">
                <div class="fager-main">
                    <h1 id="challenger">Challenger</h1>
                    <div class="container-game">
                        <div class="challenger-words">
                            <div class="challenger-visible-words"></div>
                        </div>
                        <div class="input-row">
                            <div class="input-box">
                                <input type="text" id="output-words" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fb-root"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output='js/Fager.js' debug=false
        'js/Fager/Fager.socket.js'
        'js/Fager/FagerGame.js' -%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).on('ready', FagerGame.init());
    </script>
{% endblock %}