{% extends 'layout.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block header %}
    <!-- start header_top -->
    <div class="header">
        <div class="container">
            <div class="header-text">
                <h1>Perfect Fitness</h1>
                <h2>Best Choice For your site</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna</p>
                <div class="banner_btn">
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="header-arrow">
                <a href="#menu" class="class scroll"><span> </span </a>
            </div>
        </div>
    </div>
    <!-- end header_top -->
{% endblock %}

{% block content_top %}
    <div class="container">
        <!-- start content-top -->
        <div class="row content-top">
            <div class="col-md-5">
                <img src="{{ asset('images/pic.png') }}" class="img-responsive" alt="">
            </div>
            <div class="col-md-7 content_left_text">
                <h3>Lorem ipsum dolor sit!</h3>
                <p>aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>
    <!-- end content-top -->
{% endblock %}

{% block available_rooms %}
    <div class="container">
        <div class="row content-middle">
        <!-- start content-middle -->
            <div class="col-md-4"><a href="pricing.html">
                    <ul class="spinning">
                        <li class="live">live <span class="m_1">Spinning</span></li>
                        <li class="room">Room 2</li>
                        <div class="clear"></div>	
                    </ul>
                    <div class="view view-fifth">
                        <img src="{{ asset('images/pic3.jpg') }}" class="img-responsive" alt="">
                        <div class="mask">
                            <div class="info">Read More</div>
                        </div>
                    </div>
                </a></div>
            <div class="col-md-4"><a href="pricing.html">
                    <ul class="spinning">
                        <li class="live">live <span class="m_1">Gym</span></li>
                        <li class="room">Room 1</li>
                        <div class="clear"></div>	
                    </ul>
                    <div class="view view-fifth">
                        <img src="{{ asset('images/pic2.jpg') }}" class="img-responsive" alt="">
                        <div class="mask">
                            <div class="info">Read More</div>
                        </div>
                    </div>
                </a></div>
            <div class="col-md-4"><a href="pricing.html">
                    <ul class="spinning">
                        <li class="live">live <span class="m_1">Pilates</span></li>
                        <li class="room">Room 4</li>
                        <div class="clear"></div>	
                    </ul>
                    <div class="view view-fifth">
                        <img src="{{ asset('images/pic1.jpg') }}" class="img-responsive" alt="">
                        <div class="mask">
                            <div class="info">Read More</div>
                        </div>
                    </div>
                </a></div>
            <div class="clear"></div>
        </div>
    </div>
    <!-- end content-middle -->
{% endblock %}

{% block about %}
    <div class="row about">
        <div class="col-md-8">
            {% include 'layout/gyms.html.twig' %}
        </div>
        <div class="col-md-4">
            {% include 'layout/announcement.html.twig' %}
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}

{% block content_middle_bottom %}
    <div class="row content_middle_bottom">
        {% include 'layout/top_players.html.twig' %}
        {% include 'layout/next_events.html.twig' %}
        {% include 'layout/blog_roll.html.twig' %}
        <div class="clear"></div>
    </div>
{% endblock %}

{% block visual %}
    <div class="row about">
        <div class="col-md-8">
            {% include 'layout/gallery.html.twig' %}
        </div>
        <div class="col-md-4">
            {% include 'layout/sponsors.html.twig' %}
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}

{% block map %}
    <div class="map">
        <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=United+Kingdom&amp;aq=0&amp;oq=un&amp;sll=37.0625,-95.677068&amp;sspn=48.956293,107.138672&amp;ie=UTF8&amp;hq=&amp;hnear=United+Kingdom&amp;ll=55.378051,-3.435973&amp;spn=135.795411,68.554687&amp;t=m&amp;z=2&amp;output=embed"> </iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=United+Kingdom&amp;aq=0&amp;oq=un&amp;sll=37.0625,-95.677068&amp;sspn=48.956293,107.138672&amp;ie=UTF8&amp;hq=&amp;hnear=United+Kingdom&amp;ll=55.378051,-3.435973&amp;spn=135.795411,68.554687&amp;t=m&amp;z=2" style="color:#666;font-size:12px;text-align:left"> </a></small>
        <div class="opening_hours">
            <ul class="times">
                <h3>Opening <span class="opening">Hours</span></h3>
                <li><i class="calender"> </i><span class="week">Monday</span><div class="hours">h.6:00-h.24:00</div>  <div class="clear"></div></li>
                <li><i class="calender"> </i><span class="week">Tuesday</span><div class="hours">h.6:00-h.24:00</div>  <div class="clear"></div></li>
                <li><i class="calender"> </i><span class="week">Wednesday</span><div class="hours">h.6:00-h.24:00</div>  <div class="clear"></div></li>
                <li><i class="calender"> </i><span class="week">Thrusday</span><div class="hours">h.6:00-h.24:00</div>  <div class="clear"></div></li>
                <li><i class="calender"> </i><span class="week">Friday</span><div class="hours">h.6:00-h.24:00</div>  <div class="clear"></div></li>
                <li><i class="calender"> </i><span class="week">Saturday</span><div class="hours">h.6:00-h.24:00</div>  <div class="clear"></div></li>
                <li><i class="calender"> </i><span class="week">Sunday</span><div class="hours">h.6:00-h.24:00</div>  <div class="clear"></div></li>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet</p>
                <h4>Enjoy it!</h4>
            </ul>
        </div>
    </div>
{% endblock %}
    
{% block content_footer %}
    <div class="footer-top">
        <ul class="twitter_footer">
            <li>
                <i class="twt_icon"> </i><p>aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel  <span class="m_6">2 days ago</span></p>
                <div class="clear"></div>
            </li>
        </ul>
    </div>
{% endblock %}