{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        nav.navbar {
            margin-bottom: 20px;
        }
    </style>
{% endblock%}

{% block content -%}
<form action="{{ form.vars.action }}" class="form-horizontal fos_user_profile_edit" {{ form_enctype(form) }} method="{{ form.vars.method }}" name="{{ form.vars.id }}" role="form">
    {{ form_errors(form) }}
    <div class="form-group{% if form.username.vars.errors[0].message is defined %} has-error{% endif %}">
        {{ form_label(form.username, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        <div class="col-sm-10">
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            {% if form.username.vars.errors[0].message is defined %}
            <span class="help-block">
                {{ form.username.vars.errors[0].message }}
            </span>
            {% endif %}
        </div>
    </div>
    <div class="form-group{% if form.email.vars.errors[0].message is defined %} has-error{% endif %}">
        {{ form_label(form.email, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        <div class="col-sm-10">
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            {% if form.email.vars.errors[0].message is defined %}
            <span class="help-block">
                {{ form.email.vars.errors[0].message }}
            </span>
            {% endif %}
        </div>
    </div>
    <div class="form-group{% if form.firstname.vars.errors[0].message is defined %} has-error{% endif %}">
        {{ form_label(form.firstname, null, {'label_attr': {'class': 'col-sm-2 control-label'} }) }}
        <div class="col-sm-10">
            {{ form_widget(form.firstname, {'attr': {'class': 'form-control'} }) }}
            {% if form.firstname.vars.errors[0].message is defined %}
            <span class="help-block">
                {{ form.firstname.vars.errors[0].message }}
            </span>
            {% endif %}
        </div>
    </div>
    <div class="form-group{% if form.lastname.vars.errors[0].message is defined %} has-error{% endif %}">
        {{ form_label(form.lastname, null, {'label_attr': {'class': 'col-sm-2 control-label'} }) }}
        <div class="col-sm-10">
            {{ form_widget(form.lastname, {'attr': {'class': 'form-control'} }) }}
            {% if form.lastname.vars.errors[0].message is defined %}
            <span class="help-block">
                {{ form.lastname.vars.errors[0].message }}
            </span>
            {% endif %}
        </div>
    </div>
    <div class="form-group{% if form.picture.vars.errors[0].message is defined %} has-error{% endif %}">
        {{ form_label(form.picture, null, {'label_attr': {'class': 'col-sm-2 control-label'} }) }}
        <div class="col-sm-10">
            {{ form_widget(form.picture, {'attr': {'class': 'form-control'} }) }}
            {% if form.picture.vars.errors[0].message is defined %}
            <span class="help-block">
                {{ form.picture.vars.errors[0].message }}
            </span>
            {% endif %}
        </div>
    </div>
    <div class="form-group{% if form.current_password.vars.errors[0].message is defined %} has-error{% endif %}">
        {{ form_label(form.current_password, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        <div class="col-sm-10">
            {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
            {% if form.current_password.vars.errors[0].message is defined %}
            <span class="help-block">
                {{ form.current_password.vars.errors[0].message }}
            </span>
            {% endif %}
        </div>
    </div>
    <button class="btn btn-primary" type="submit">{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}</button>
    {{ form_widget(form._token) }}
</form>
{% endblock %}