{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        nav.navbar {
            margin-bottom: 20px;
        }
    </style>
{% endblock%}

{% block content -%}
{% trans_default_domain 'FOSUserBundle' %}
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'profile.show.username'|trans }}</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ user.username }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'profile.show.email'|trans }}</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ user.email }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'profile.show.firstname'|trans }}</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ user.firstname }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'profile.show.lastname'|trans }}</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ user.lastname }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'profile.show.picture'|trans }}</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ user.picture }}</p>
        </div>
    </div>
</form>
<a class="btn btn-primary" href="{{ path('fos_user_profile_edit') }}">Edit</a>
<a class="btn btn-primary" href="{{ path('fos_user_change_password') }}">Change Password</a>
{% endblock %}