{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        nav.navbar {
            margin-bottom: 20px;
        }
    </style>
{% endblock%}

{% block content -%}
{% trans_default_domain 'FOSUserBundle' %}
<p>
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>
{% endblock %}