{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        nav.navbar {
            margin-bottom: 20px;
        }
    </style>
{% endblock%}

{% block content -%}
{% trans_default_domain 'FOSUserBundle' %}
<p>{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock %}