            <h3 class="m_4">Membership Prices</h3>
            <div class="members">
                <h4 class="m_3">25% Discount of for all members</h4>
                <p>Discount on services and <br>treatments at the GymBase for<br> all membership cards holders.</p>
                <div class="btn1">
                    <a href="#">More</a>
                </div>
            </div>