        <div class="col-md-4">
            <h3 class="m_2">From the blog</h3>
            <div class="blog_events">
                <ul class="tab-left1">
                    <span class="tab1-img">
                        <img src="{{ asset('images/pic7.jpg') }}" alt="">
                    </span>
                    <div class="tab-text1">
                        <p><a href="#">nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip</a></p>
                        <span class="m_date">25 April, 2014</span>
                    </div>
                    <div class="clear"></div>
                </ul>
                <ul class="tab-left1">
                    <span class="tab1-img">
                        <img src="{{ asset('images/pic6.jpg') }}" alt="">
                    </span>
                    <div class="tab-text1">
                        <p><a href="#">soluta nobis eleifend option congue nihil imperdiet doming id</a></p>
                        <span class="m_date">25 April, 2014</span>
                    </div>
                    <div class="clear"></div>
                </ul>
                <ul class="tab-last1">
                    <span class="tab1-img">
                        <img src="{{ asset('images/pic8.jpg') }}" alt="">
                    </span>
                    <div class="tab-text1">
                        <p><a href="#">quod mazim placerat facer possim assum. Typi non habent</a></p>
                        <span class="m_date">25 April, 2014</span>
                    </div>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>