        <div class="copyright">
            <div class="container">
                <div class="copy">
                    <p>© 2014 Template by <a href="http://w3layouts.com" target="_blank"> w3layouts</a></p>
                </div>
                {% include 'layout/social.html.twig' %}
            </div>
        </div>