            <h3 class="m_2">All Classes</h3>
            <div class="classes">
                <div class="cardio_list">
                    <div class="cardio_sublist">
                        <ul class="cardio">
                            <li><i class="clock"> </i><span>Cardio Fitness</span></li>
                        </ul>
                        <div class="social-media">
                            <ul>
                                <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="timetable"><a href="#" target="_blank"> </a></span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Send to"><a href="#" target="_blank"> </a> </span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="like it"><a href="#" target="_blank"> </a></span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="share"><a href="#" target="_blank"> </a></span></li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="cardio_sublist">
                        <ul class="cardio">
                            <li><i class="clock"> </i><span>Spinning</span></li>
                        </ul>
                        <div class="social-media">
                            <ul>
                                <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="timetable"><a href="#" target="_blank"> </a></span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Send to"><a href="#" target="_blank"> </a> </span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="like it"><a href="#" target="_blank"> </a></span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="share"><a href="#" target="_blank"> </a></span></li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="cardio_sublist">
                        <ul class="cardio">
                            <li><i class="clock"> </i><span>Pilates</span></li>
                        </ul>
                        <div class="social-media">
                            <ul>
                                <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="timetable"><a href="#" target="_blank"> </a></span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Send to"><a href="#" target="_blank"> </a> </span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="like it"><a href="#" target="_blank"> </a></span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="share"><a href="#" target="_blank"> </a></span></li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="cardio_sublist">
                        <ul class="cardio">
                            <li><i class="clock"> </i><span>Boxing</span></li>
                        </ul>
                        <div class="social-media">
                            <ul>
                                <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="timetable"><a href="#" target="_blank"> </a></span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Send to"><a href="#" target="_blank"> </a> </span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="like it"><a href="#" target="_blank"> </a></span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="share"><a href="#" target="_blank"> </a></span></li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="cardio_list1">
                    <div class="cardio_sublist">
                        <ul class="cardio">
                            <li><i class="clock"> </i><span>Aerobics</span></li>
                        </ul>
                        <div class="social-media">
                            <ul>
                                <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="timetable"><a href="#" target="_blank"> </a></span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Send to"><a href="#" target="_blank"> </a> </span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="like it"><a href="#" target="_blank"> </a></span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="share"><a href="#" target="_blank"> </a></span></li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="cardio_sublist">
                        <ul class="cardio">
                            <li><i class="clock"> </i><span>Kik Boxing</span></li>
                        </ul>
                        <div class="social-media">
                            <ul>
                                <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="timetable"><a href="#" target="_blank"> </a></span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Send to"><a href="#" target="_blank"> </a> </span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="like it"><a href="#" target="_blank"> </a></span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="share"><a href="#" target="_blank"> </a></span></li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="cardio_sublist">
                        <ul class="cardio">
                            <li><i class="clock"> </i><span>CrossFit</span></li>
                        </ul>
                        <div class="social-media">
                            <ul>
                                <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="timetable"><a href="#" target="_blank"> </a></span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Send to"><a href="#" target="_blank"> </a> </span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="like it"><a href="#" target="_blank"> </a></span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="share"><a href="#" target="_blank"> </a></span></li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="cardio_sublist">
                        <ul class="cardio">
                            <li><i class="clock"> </i><span>Yoga</span></li>
                        </ul>
                        <div class="social-media">
                            <ul>
                                <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="timetable"><a href="#" target="_blank"> </a></span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Send to"><a href="#" target="_blank"> </a> </span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="like it"><a href="#" target="_blank"> </a></span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="share"><a href="#" target="_blank"> </a></span></li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>