        <div class="col-md-4">
            <h3 class="m_2">Next Events</h3>
            <div class="events">
                <div class="event-top">
                    <ul class="event1">
                        <h4>26 April, 2014</h4>
                        <img src="{{ asset('images/pic.jpg') }}" alt="">
                    </ul>
                    <ul class="event1_text">
                        <span class="m_5">h.12.00-h.13.00</span>
                        <h4>Aerobics</h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,. </p>
                        <div class="btn2">
                            <a href="#">Reservation</a>
                        </div>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="event-bottom">
                    <ul class="event1">
                        <h4>26 April, 2014</h4>
                        <img src="{{ asset('images/pic.jpg') }}" alt="">
                    </ul>
                    <ul class="event1_text">
                        <span class="m_5">h.12.00-h.13.00</span>
                        <h4>Spinning</h4>
                        <p>Lorem ipsum dolor sit amet. </p>
                        <div class="btn2">
                            <a href="#">Reservation</a>
                        </div>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </div>