            <h3 class="m_2">Sponsors</h3>
            <ul class="partner">
                <li>
                    <img src="{{ asset('images/p6.png') }}" alt="">
                </li>
                <li>
                    <img src="{{ asset('images/p5.png') }}" alt="">
                </li>
                <li>
                    <img src="{{ asset('images/p4.png') }}" alt="">
                </li>
                <li>
                    <img src="{{ asset('images/p3.png') }}" alt="">
                </li>
                <li>
                    <img src="{{ asset('images/p2.png') }}" alt="">
                </li>
                <li>
                    <img src="{{ asset('images/p1.png') }}" alt="">
                </li>
                <div class="clear"></div>
            </ul>