        <div class="col-md-4">
            <h3 class="m_2">Our Trainers</h3>
            <div class="course_demo">
                <ul id="flexiselDemo3">	
                    <li>
                        <img src="{{ asset('images/pic4.jpg') }}">
                        <div class="desc">
                            <h3>Lorem Ipsum<br><span class="m_text">Spinning</span></h3>
                            <p>Lorem ipsum dolor<br> sit amet, consectetuer.</p>
                            <div class="coursel_list">
                                <i class="heart1"> </i>
                                <i class="like"> </i>
                            </div>
                            <div class="coursel_list1">
                                <i class="twt"> </i>
                                <i class="fb"> </i>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </li>
                    <li>
                        <img src="{{ asset('images/pic5.jpg') }}">
                        <div class="desc">
                            <h3>Lorem Ipsum<br><span class="m_text">Kik Boxing</span></h3>
                            <p>Lorem ipsum dolor<br> sit amet, consectetuer.</p>
                            <div class="coursel_list">
                                <i class="heart2"> </i>
                                <i class="like1"> </i>
                            </div>
                            <div class="coursel_list1">
                                <i class="twt"> </i>
                                <i class="fb"> </i>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </li>	
                    <li>
                        <img src="{{ asset('images/pic4.jpg') }}">
                        <div class="desc">
                            <h3>Lorem Ipsum<br><span class="m_text">Spinning</span></h3>
                            <p>Lorem ipsum dolor<br> sit amet, consectetuer.</p>
                            <div class="coursel_list">
                                <i class="heart2"> </i>
                                <i class="like1"> </i>
                            </div>
                            <div class="coursel_list1">
                                <i class="twt"> </i>
                                <i class="fb"> </i>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </li>	
                    <li>
                        <img src="{{ asset('images/pic5.jpg') }}" class="img-responsive" alt="">
                        <div class="desc">
                            <h3>Lorem Ipsum<br><span class="m_text">Kik Boxing</span></h3>
                            <p>Lorem ipsum dolor<br> sit amet, consectetuer.</p>
                            <div class="coursel_list">
                                <i class="heart2"> </i>
                                <i class="like1"> </i>
                            </div>
                            <div class="coursel_list1">
                                <i class="twt"> </i>
                                <i class="fb"> </i>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </li>	
                    <li>
                        <img src="{{ asset('images/pic4.jpg') }}" class="img-responsive" alt="">
                        <div class="desc">
                            <h3>Lorem Ipsum<br><span class="m_text">Spinning</span></h3>
                            <p>Lorem ipsum dolor<br> sit amet, consectetuer.</p>
                            <div class="coursel_list">
                                <i class="heart2"> </i>
                                <i class="like1"> </i>
                            </div>
                            <div class="coursel_list1">
                                <i class="twt"> </i>
                                <i class="fb"> </i>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </li>							    	  	       	   	    	
                </ul>
            </div>
        </div>