input, select, textarea {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 0.4em;
}
.fager-main {
    padding-top:10px;
    padding-bottom:30px;
}
.fager-main .container-game {
    margin-bottom:50px;
}
.fager-main .restart-fager {
    float:left;
    margin:0px 14px;
/*    width:200px;
    height:38px;*/
}
.fager-main .restart-fager:hover { cursor:pointer; }
.fager-main .container-words {
    background-color: rgba(255, 255, 255, 0.7);
    padding:6px 4px 12px;
    height:74px;
    overflow:hidden;
    font-size:20px;
    line-height:30px;
    border:1px solid #8eb6d8;
    border-radius:4px;
}
.fager-main .challenger-words {
    background-color: rgba(255, 255, 255, 0.7);
    padding:6px 4px 12px;
    height:74px;
    overflow:hidden;
    font-size:20px;
    line-height:30px;
    border:1px solid #8eb6d8;
    border-radius:4px;
}
.fager-main .visible-words {
    position:relative;
    /*color:#111111;*/
}
.fager-main .visible-words span {
    padding:3px 5px 3px 5px;
    margin-right:-7px;
}
.fager-main .challenger-visible-words {
    position:relative;
    /*color:#111111;*/
}
.fager-main .challenger-visible-words span {
    padding:3px 5px 3px 5px;
    margin-right:-7px;
}
.fager-main .input-row .input-box {
    margin-top: 10px;
}
.fager-main .input-row input#input-words {
    padding:4px 5px 5px 10px;
    margin-right:3px;
    font-size:2em;
    float:left;
    width: 100%;
}
.fager-main .input-row input#output-words {
    padding:4px 5px 5px 10px;
    margin-right:3px;
    font-size:2em;
    float:left;
    width: 100%;
}
.fager-main .input-row .timer {
    text-align:center;
    font-size:2.0em;
    float:left;
    border-radius:3px;
    color:white;
    background:#3c4d5c;
    background:linear-gradient(top,#2b3842 0%,#3c4d5c 100%);
}
.fager-main span.highlight {
    background:#dddddd;
    color:#000000;
    border-radius:3px;
}
.fager-main span.highlight-wrong { background:red; }
.fager-main span.wrong {
    color:red;
}
.fager-main span.correct {
    color:green;
}
.fager-main .container-result {
    background:white;
    padding:20px;
    font-size:1.4em;
    border-radius:5px;
}
.header-text h1 input {
    font-size: 0.4em;
    color: gray;
}
.header-text h1 button {
    font-size: 0.5em;
    color: #383838;
}